{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
